@charset "utf-8";
html, body, div, p, ul, li,ol, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding:0;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;font-weight: normal;}
a{text-decoration: none;}
i,span,a{display: inline-block;}
article,aside,dialog,figure,footer,header,legend,nav,section{display: block;}
img{border:none;vertical-align:top;}
input,textarea{outline: none;border:none;}
input[type="radio"]{-webkit-appearance:normal;outline:none;}
input[type="button"],input[type="text"]{-webkit-appearance: none;outline: none;}
input[type="button"]{text-indent: 0;}
input[type="text"]{text-indent: 10px;}
input[type='number']{-moz-appearance:textfield;-webkit-appearance:textfield;appearance:textfield;}/*去除输入框右侧的加减按钮*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;margin: 0;}
body{font-family:"Microsoft YaHei","微软雅黑",Tahoma,Arial,Helvetica,"宋体";font-size:62.5%;background:#FFF;-moz-user-select:none;-khtml-user-select:none;-webkit-font-smoothing:antialiaed;font-weight: normal;}
html{overflow-y:scroll;overflow-x:hidden;}
ul,ol,li{list-style-type:none;}
th,td,input{}
em,i{font-style: normal;}
button{border:none;cursor:pointer;-webkit-appearance: none;outline: none;}
select{border-width:1px;_zoom:1;border-style:solid;padding-top:2px;}